.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 80vw;
  margin: 0 auto;
}

.project-item {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-m);
  border-radius: 2rem;
  text-align: center;
  transition: var(--transition);
  padding: 1rem;
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s
    both;
}

.project-item:hover {
  box-shadow: 1px 1px 10px var(--color-m);
  cursor: default;
}

.project-item .project-img {
  width: 100%;
  display: block;
  border: 1px solid var(--color-m);
  border-radius: 2rem;
}

.project-item h2 {
  color: var(--color-l);
  text-align: left;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.project-btns {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.project-btn {
  width: 6rem;
  background-color: var(--color-m);
  color: var(--color-d);
  padding: 0.2rem;
  border: 1px solid var(--color-m);
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: calc(100vw / 3.3) rem;
  white-space: normal;
  transition: var(--transition);
}
.project-btn:hover {
  background: transparent;
  color: var(--color-l);
}

/* ========= Media Quiries  (Med) ========== */
@media screen and (max-width: 1000px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-item:last-of-type {
    margin-bottom: 5rem;
  }
}

/* ========= Media Quiries  (small) ========== */
@media screen and (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-item:last-of-type {
    margin-bottom: 5rem;
  }
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
