@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-d: #1f1f38;
  --color-m: #4db5ff;
  --color-l: #f5f5f5;
  --color-c: #fc4445;
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins";
  line-height: 1.5rem;
  text-decoration: none;
}

body {
  background-color: var(--color-d);
  background-image: url("./assets/background.png");
}

section {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section h5 {
  color: var(--color-l);
}

section h2 {
  color: var(--color-m);
  margin-bottom: 2rem;
}

.title {
  margin-top: 1rem;
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
